.updated {
    padding:10px 4px;
}

.visitor-map-actions {
    border-width: 0;
    width: 100%;
    margin-bottom: 10px;

    .actions {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 20px;

        .sort {
            #sort_by {
                width: 48%!important;
            }

            #order {
                width: 50%!important;
            }
        }

        label {
            position: relative;
            font-size: 12px !important;
            text-align: left;
            color: #999;
            width: 100%;
            cursor: default;
            display: inline-block;
        }

        .select-wrapper {
            display: block;
            position: relative;
            float: left;
            margin: 0 10px 0 0;

            select {
                float: left;
                height: 28px !important;
                width: 100% !important;
            }
        }
    }
}

.visitor-map-key {
    padding: 2px;
    border-spacing: 2px;
    width: 99%;
    text-align: right;

    .key-ban {
        background-color:#008000;
        color:white;
        padding:0px 4px;
        text-decoration:none;
        -moz-border-radius:10px;
        -khtml-border-radius:10px;
        -webkit-border-radius:10px;
        border-radius:10px;
    }

    .key-unban {
        background-color:#B30000;
        color:white;
        padding:0px 4px;
        text-decoration:none;
        -moz-border-radius:10px;
        -khtml-border-radius:10px;
        -webkit-border-radius:10px;
        border-radius:10px;
    }

    .key-admin, .key-disabled {
        background-color:#D4D4D4;
        color:white;
        padding:0px 4px;
        text-decoration:none;
        -moz-border-radius:10px;
        -khtml-border-radius:10px;
        -webkit-border-radius:10px;
        border-radius:10px;
        cursor:pointer;
    }
}

.visitor-maps-data {
    border-width: 0;
    border-spacing: 2px;
    padding: 2px;
    width: 100%;

    .referer .disabled {
        background-color:#D4D4D4;
        color:white;
        padding:0px 4px;
        text-decoration:none;
        -moz-border-radius:10px;
        -khtml-border-radius:10px;
        -webkit-border-radius:10px;
        border-radius:10px;
        cursor:pointer;
    }

    .referer-string {
        color: green;
        text-decoration: none;
        border-bottom: 1px dashed green;
    }

    .visitors-since {
        text-align: center;
    }

    .visitors-pagination {
        text-align: left;
    }

    .visitors {
        vertical-align: top;

        .outer-table {
            border-width: 0;
            border-spacing: 0;
            padding: 2px;
            width: 99%;

            td {
                vertical-align: top;

                .inner-table {
                    border-spacing: 0;
                    width: 100%;

                    .table-top {
                        color: black;
                        background-color: #96C6F5;
                        text-align: left;
                        font-weight: bold;
                    }

                    .column-light {
                        color: black;
                        background-color: white;
                        white-space: nowrap;
                    }

                    .column-dark {
                        color: black;
                        background-color: #F1F8FE;
                        white-space: nowrap;
                    }

                    .status {
                        text-align: left;
                        vertical-align: top;
                    }

                    .ip-address {
                        .admin {
                            background-color:#D4D4D4;
                            color:white;
                            padding:0px 4px;
                            text-decoration:none;
                            -moz-border-radius:10px;
                            -khtml-border-radius:10px;
                            -webkit-border-radius:10px;
                            border-radius:10px;
                            cursor:pointer;
                        }

                        .ban {
                            background-color:#008000;
                            color:white;
                            padding:0px 4px;
                            text-decoration:none;
                            -moz-border-radius:10px;
                            -khtml-border-radius:10px;
                            -webkit-border-radius:10px;
                            border-radius:10px;
                        }

                        .unban {
                            background-color:#B30000;
                            color:white;
                            padding:0px 4px;
                            text-decoration:none;
                            -moz-border-radius:10px;
                            -khtml-border-radius:10px;
                            -webkit-border-radius:10px;
                            border-radius:10px;
                        }
                    }
                }
            }
        }
    }

    .visitor-stats {
        border-width: 0;
        border-spacing: 3px;
        padding:0px;
        width:600px;
    }

    br {
        .clear {
            clear: both;
        }
    }
}

.wo-map{
    margin-left: auto;
    margin-right: auto;
    border-width: 0;
    padding: 0;
    border-spacing: 0;
}